
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

h1 {
    font-size: 12rem;
    color: blue;
}

h2 {
    font-size: 9rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 8px;
}

header, footer, footer a {
    text-align: center;
    background-color: whitesmoke;
    color: black;
}

header img {
    width: 48px;
    height: auto;
    float: right;
}

footer {
    font-size: 8rem;
}