@media only screen and (min-width: 501px)
{
    #menu
    {
        display: none;
    }

    /*.imgtext, .border
    {
        display: block;
        color: white;
    }*/
}



@media only screen and (min-width: 1100px)
{
    /*.imgtext
    {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
        font-size: 27px;
        letter-spacing: 8px;
        text-transform: uppercase;
    }

    .imgtext .border
    {
        background-color: #111;
        color: #fff;
        padding: 20px;

    }

    .imgtext, .border
    {
        display: -webkit-inline-flex;
        position: center;
        top: 50%;
        text-align: center;

    }*/

    #menu
    {
        display: none;
    }
}

