@media (min-width: 500px)
{
    header 
    {
        text-align: center;
    }
    #menu
    {
        display: none;
    }

    div > ul 
    {
        display: inline-flex;
    }

    #heroimg
    {
        float: left;
        width: 200px;
        margin-right: 20px; 
        padding: 1em; 
        
    }
    
    .forecast5
    {
        text-align: center;
        margin: 1em;
    }
}
