@media screen and (min-width: 761px)
{
    .hamburger
    {
        display: none;
    }

    .grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        
    }

    .grid:hover
    {
        box-shadow: 10px 10px 8px #666;
        text-shadow: 5px 5px 5px #666;
        
    }

    /*.imgtext, .border
    {
        display: block;
        color: white;
    }*/
}



@media only screen and (min-width: 761px)

{
    /*.imgtext
    {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
        font-size: 27px;
        letter-spacing: 8px;
        text-transform: uppercase;
    }

    .imgtext .border
    {
        background-color: #111;
        color: #fff;
        padding: 20px;

    }

    .imgtext, .border
    {
        display: -webkit-inline-flex;
        position: center;
        top: 50%;
        text-align: center;

    }*/

    #menu
    {
        display: none;
    }
}

